[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeoBoxplot"]
	path = GeoBoxplot
	url = https://github.com/cran/GeoBoxplot
[submodule "SphericalK"]
	path = SphericalK
	url = https://github.com/cran/SphericalK
